*{
    margin: 0;
    padding: 0;
} 
.negrita{
    font-weight: bold;
}
p{
    margin: 1em;
}
.tamañoRedes{
    width: 2rem;
}
.tamañoLogo{
    width: 4rem;
}
.letra{
    color: black;
    font-weight: normal;
}